<div class="col-md-6 offset-md-3">
  <h2 class="b">Thêm lớp</h2>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label class="a">Mã lớp</label>
          <input type="text" name="maLop" id="maLop" [(ngModel)]="lop.maLop" class="form-control" placeholder="Nhập mã lớp...">
      </div>
      <div class="form-group">
          <label class="a">Tên lớp</label>
          <input type="text" name="tenLop" id="tenLop" [(ngModel)]="lop.tenLop" class="form-control" placeholder="Nhập tên lớp...">
      </div>
      <button class="btn btn-success them" type="submit">+ Thêm lớp</button>
  </form>
</div>