.them {
    width: 100%;
    margin-top: 20px;
}

.a {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.b {
    text-align: center;
    color: rgb(116, 218, 14);
}