<h3>Thông tin chi tiết</h3>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-success">Mã sinh viên: {{ sinhVien.masv }}</a>
    <a href="#" class="list-group-item list-group-item-primary">Họ tên: {{ sinhVien.hoTen }}</a>
    <a href="#" class="list-group-item list-group-item-secondary">Ngày sinh: {{ sinhVien.ngaySinh }}</a>
    <a href="#" class="list-group-item list-group-item-warning">Giới tính: {{ sinhVien.gioiTinh }}</a>
    <a href="#" class="list-group-item list-group-item-danger">Điểm trung bình: {{ sinhVien.diemtb }}</a>
</div>